@keyframes glowingBorder {
    0% {
        box-shadow: 0 0 16px rgba(66, 56, 110, 0.3);
    }
    50% {
        box-shadow: 0 0 32px rgba(66, 56, 110, 0.5);
    }
    100% {
        box-shadow: 0 0 16px rgba(66, 56, 110, 0.3);
    }

}

@keyframes glowingBorderBlue {
    0% {
        box-shadow: 0 0 16px rgba(34, 64, 128, 0.3);
    }
    50% {
        box-shadow: 0 0 32px rgba(34, 64, 128, 0.5);
    }
    100% {
        box-shadow: 0 0 16px rgba(34, 64, 128, 0.3);
    }

}